<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.camf.ui.newCloudProviderWizards">
      <wizard
            class="org.eclipse.camf.connectors.celar.ui.wizards.CELARCloudProviderWizard"
            id="org.eclipse.camf.connectors.celar.ui.wizards.CELARCloudProviderWizard"
            name="CELAR Cloud Provider">
      </wizard>
   </extension>


</plugin>
